@model HastaneRandevu.Models.Hasta
@{
    ViewData["Title"] = "Hasta Giriş";
    Layout = "_LoggedOutLayout";
    ViewData["RightPanelTitle"] = "NeyimVar?";
    ViewData["RightPanelContent"] = "Şikayetlerinizi girerek muhtemel tanınızı ve gideceğiniz polikliniği öğrenerek randevu almak ister misiniz?";
}

<h2 class="mb-4 text-center">Hasta Giriş</h2>

@if (ViewData["LoginError"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["LoginError"]
    </div>
}

<form asp-action="Login" method="post">
    <div class="mb-3">
        <label asp-for="TCKimlikNo" class="form-label">TC Kimlik No</label>
        <input asp-for="TCKimlikNo" class="form-control" placeholder="TC Kimlik No" />
        <span asp-validation-for="TCKimlikNo" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Parola" class="form-label">Parola</label>
        <input asp-for="Parola" class="form-control" placeholder="Parola" type="password" />
        <span asp-validation-for="Parola" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-login w-100">Giriş Yap</button>
</form>

<div class="text-center mt-3">
    <a href="/Hastas/SifremiUnuttum" class="text-decoration-none">Şifremi Unuttum?</a>
</div>

<div class="text-center my-3">- VEYA -</div>
<div class="d-grid">
    <button class="btn btn-edevlet" type="button">
        <img src="~/images/png.png" alt="e-Devlet" style="height:24px; margin-right:8px; vertical-align:middle;" />
        e-Devlet ile Giriş Yap
    </button>
</div>