@model HastaneRandevu.DTOs.HastaDTO

<h2>Hasta Profili</h2>

<p><strong>Ad Soyadı:</strong> @Model.AdSoyadi</p>
<p><strong>Kullanıcı Adı:</strong> @Model.Parola</p>
<p><strong>TC Kimlik No:</strong> @Model.TCKimlikNo</p>