@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Admin Panel";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Admin Paneli</h1>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <p>Bu sayfaya yalnýzca Admin rolündeki kullanýcýlar eriþebilir.</p>
        <ul>
            <li><a href="/Doktors">Doktorlarý Yönet</a></li>
            <li><a href="/Polikliniks">Poliklinikleri Yönet</a></li>
        </ul>
    </div>
</div>
